.footer{
    width: 100%;
    padding: 20px 40px;
    background: var(--color-white);

    flex-wrap: wrap;
    gap: 20px;
    
    overflow: hidden;
}

.footer__logo{
    font-size: 24px;
    font-weight: bold;
    font-family: var(--playfair-display);

    text-transform: uppercase;
    color: var(--primary-naranja);

    cursor: pointer;
}

.footer__logo span{
    color: var(--color-verde);
}

.footer ul{
    list-style:  none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px;
}

.footer ul:last-child{
    gap: 32px;
}

.footer__nav li{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    text-transform: uppercase;
    color: var(--secondary-color);

    cursor: pointer;
}

.footer__social li {
    width: 42px;
    height: 42px;

    background-color: var(--color-azul);
    border-radius: 50%;

    /* Centrado perfecto */
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
}
.footer__social li a img {
    width: 60%;   /* Aumenta para que sea más visible */
    height: 60%;  /* Usa porcentaje relativo al contenedor padre (el <li>) */

    object-fit: contain;

    /* Asegura que la imagen no se deforme */
    max-width: 100%;
    max-height: 100%;

    /* Opcional: efecto hover o filtro para ajustar color si es necesario */
    filter: brightness(1);
}