.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.header__logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  padding: 20px;

  img {
    width: 204px;
    height: 84px;
    object-fit: cover;
  }
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--primary-naranja);
  z-index: -1;
  border-radius: 10px 0 0 10px;
}

.header__menu,
.header__menu-movil {
  padding: 20px;
  flex: 1.236;
  display: flex;
  justify-content: flex-end;
  gap: 64px;
  align-items: center;
  list-style: none;
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  font-size: 16px;
  color: var(--secundary-color);
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.header__menu-movil {
  display: none;
  cursor: pointer;
  z-index: 101;
}

@media screen and (max-width: 900px) {
  header {
    background: var(--primary-naranja);
  }

  .header__nav {
    background: var(--primary-naranja);
    padding: 10px 0;
  }

  .header__logo {
    padding: 10px;
    justify-content: flex-start;
  }

  .header__logo img {
    width: 150px;
    height: auto;
  }

  .header__logo-overlay {
    display: none;
  }

  .header__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-naranja);
    padding: 40px;
    gap: 30px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header__menu li {
    color: white;
  }

  .header__menu.show {
    display: flex;
  }

  .header__menu-movil {
    display: flex;
    padding-right: 20px;
    filter: brightness(0) invert(1);
  }
}
